/* Dracula userContent.css */

@media (prefers-color-scheme: dark) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #F8F8F2 !important;
      --color-accent-primary: #BD93F9 !important;
      --color-accent-primary-hover: #CAA9FA !important;
      --color-accent-primary-active: #A580D9 !important;
      background-color: #44475A !important;
      --in-content-page-background: #44475A !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #44475A !important;
      --newtab-background-color-secondary: #6272A4 !important;
      --newtab-element-hover-color: #6272A4 !important;
      --newtab-text-primary-color: #F8F8F2 !important;
      --newtab-wordmark-color: #F8F8F2 !important;
      --newtab-primary-action-background: #BD93F9 !important;
    }

    .icon {
      color: #BD93F9 !important;
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #BD93F9 !important;
    }

    .top-site-outer .search-topsite {
      background-color: #BD93F9 !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #50FA7B !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #282A36 !important;
      --in-content-text-color: #F8F8F2 !important;
      --link-color: #BD93F9 !important;
      --link-color-hover: #CAA9FA !important;
      --zen-colors-primary: #6272A4 !important;
      --in-content-box-background: #6272A4 !important;
      --zen-primary-color: #BD93F9 !important;
    }

    groupbox , moz-card{
      background: #44475A !important;
    }

    button,
    groupbox menulist {
      background: #6272A4 !important;
      color: #F8F8F2 !important;
    }

    .main-content {
      background-color: #21222C !important;
    }

    .identity-color-blue {
      --identity-tab-color: #BD93F9 !important;
      --identity-icon-color: #BD93F9 !important;
    }

    .identity-color-turquoise {
      --identity-tab-color: #8BE9FD !important;
      --identity-icon-color: #8BE9FD !important;
    }

    .identity-color-green {
      --identity-tab-color: #50FA7B !important;
      --identity-icon-color: #50FA7B !important;
    }

    .identity-color-yellow {
      --identity-tab-color: #F1FA8C !important;
      --identity-icon-color: #F1FA8C !important;
    }

    .identity-color-orange {
      --identity-tab-color: #FFB86C !important;
      --identity-icon-color: #FFB86C !important;
    }

    .identity-color-red {
      --identity-tab-color: #FF5555 !important;
      --identity-icon-color: #FF5555 !important;
    }

    .identity-color-pink {
      --identity-tab-color: #FF79C6 !important;
      --identity-icon-color: #FF79C6 !important;
    }

    .identity-color-purple {
      --identity-tab-color: #BD93F9 !important;
      --identity-icon-color: #BD93F9 !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #282A36 !important;
      --background-color-box: #44475A !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #44475A !important;
      --social-color: #BD93F9 !important;
      --coockie-color: #8BE9FD !important;
      --fingerprinter-color: #F1FA8C !important;
      --cryptominer-color: #BD93F9 !important;
      --tracker-color: #50FA7B !important;
      --in-content-primary-button-background-hover: #6272A4 !important;
      --in-content-primary-button-text-color-hover: #F8F8F2 !important;
      --in-content-primary-button-background: #44475A !important;
      --in-content-primary-button-text-color: #F8F8F2 !important;
    }


    .card {
      background-color: #6272A4 !important;
    }
  }
}
